@import url("https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap");

.photo {
  width: 500px;
  height: 350px;
  border-radius: 1rem;
  object-fit: cover;
  opacity: 0.7;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.8rem;
  margin-top: 1rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin: 0.5rem;
  border-radius: 1rem;

  &:hover .card-over {
    transform: translateY(0%);
  }
  &:hover img {
    opacity: 1;
  }
  .date {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: black;
    color: blue;
    border-radius: 1rem;
    padding: 1rem;
    width: 80%;
    font-size: 1rem;
    text-align: center;
  }
  .title {margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: blue;
    border-radius: 1rem;
    padding: 1rem;
    z-index: 1;
  }
}

.card-over {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.842);
  border-radius: 10px;
  transform: translateY(100%);
  transition: transform 0.7s ease-in-out;
  z-index: 2;
  height: 65%;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .desc {
    color: white;
    padding: 1rem;
    margin: 0;
    font-family: "Almendra Display", serif;
    font-size: 1.5rem;
    height: 200px;
  }
}
