.navbar {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: sticky;
  z-index: 3;
  top: 0;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  font-size: 1.5rem;
  cursor: pointer;
}

li:hover {
  background-color: black;
  color: blue;
  padding: 0.5rem;
}

@media screen and (max-width: 1023px) {
  ul {
    flex-direction: column;
    gap: 0.8rem;
  }
}
